<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/death-note-lawliet-l-black-background-simple-wallpaper.jpg" alt="death note img">
        </div>
        {{>footer}}
    </body>
</html>